@media (min-width: 750px) {
    section {
        padding: 10px 80px;
    }
    footer {
        padding: 10px 60px;
    }
}
@media (min-width: 960px) {
    .gallery img {
        max-width: 500px;
    }
    .gallery {
        display: flex;
        flex-wrap: wrap;
    }
    .gallery figure {
        margin-bottom: 1em;
        margin-right: 2em;
    }
    section > figure figcaption{
        width: 650px;
    }
    
}