@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,400;0,600;0,700;1,100;1,400;1,600&display=swap');
:root {
    --black: rgb(10, 10, 10);
    --lightgray: rgb(244,244,244);
    --gray: rgb(233, 233, 233);
    --white: rgb(255, 255, 255);
    --darkgray: rgb(49, 49, 49);
    
}
html {
    font-family: Archivo, sans-serif;
    font-size: 1.1em;
}
body {
    margin: 0;
}
main {
    max-width: 1300px;
    margin: auto;
}
header {
    background-color: var(--black);
}

.navbar-menu .navbar-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25em;
    position: relative;
    padding-bottom: 3px;
}
.navbar-menu .navbar-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 1px;
    background-color: white;
    transition: 0.3s ease-in-out;
}
.navbar-link:hover::after {
    left: 0;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 0;
    padding: 1.3em;
}
h2 {
    font-size: 35px;
    font-weight: 500;
    padding-left: 10px;
    border-left: 2px solid black;
}
h3 {
    font-size: 30px;
    font-weight: 500;
}
h4 {
    font-size: 25px;
    font-weight: 500;
}
h5 {
    font-size: 20px;
    font-weight: 500;
}
.text-h1 {
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0;
    border: none;
}

.underline {
    text-decoration: underline;
}
table,th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 0.5em;
}
th {
    background-color: var(--black);
    color: white;
}
td {
    background-color: var(--gray);
}

section {
padding: 15px 40px;
}
p {
    max-width: 1000px;
}
footer {
    background-color: var(--black);
}
b {
    font-weight: 700;
}
mark {
    background-color: rgb(46, 46, 46);
    color: white;
}
.gallery__item img {
    width: 100%;
    max-width: 650px;
}
.header__opening {
 background-image: url(../img/banner.jpg);
 background-position: center;
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 380px;
 background-size: cover;
}


h1 {
    display: inline-block;
    text-transform: uppercase;
    color: white;
 }
header nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
}
footer p {
    margin-bottom: 0;
    color: var(--darkgray);
}
footer {
    padding: 40px;
    color: white;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer a {
    color: white;
}
footer a:hover {
    color:  var(--darkgray);
}
figure {
    margin: 0;
    margin-bottom: 1em;
    position: relative;
    overflow: hidden;
}
figcaption {
    position: absolute;
    bottom: 84.5%;
    left: 0;
    color: white;
    background-color: var(--black);
    width: 100%;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    text-align: center;
    opacity: 0;

}
figure:hover figcaption {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
section > figure:hover figcaption{
    bottom: 87%;
}
.navbar-logo {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 10px;
}
.button {
    display: inline-block;
    text-decoration: none;
    padding: 8px 23px;
    border: 2px var(--black) solid;
    color: var(--black);
    border-radius: 2px;
    font-size: 1.1em;
    transition: all 0.2s ease-in-out;
    outline: none;
}
.button:hover {
    background-color: var(--black);
    color: white;
}
.btn-reversed {
    background-color: var(--black);
    color: white;
}
.btn-reversed:hover {
    color: var(--black);
    background-color: white;
}
.btn-red {
    background-color: rgb(133, 22, 22);
    color: white;
    border: 2px solid transparent;
}
.btn-red:hover {
    background-color: rgb(255, 75, 75);
}
.btn-blue {
    background-color: rgb(30, 30, 126);
    border: 2px solid transparent;
    color: white;
}
.btn-blue:hover {
    background-color: rgb(83, 83, 238);
}
.footer-width {
    max-width: 1300px;
    margin: auto;
}
